/* navigator */
nav{
    display: flex;
}
nav>.logo{  
    background-color: firebrick;
    flex: auto;
    width: 100px;
}
nav>.menu{/*>是階層選擇器, 代表要在 <main> 標籤底下的 .item 才會套用樣式。*/
    background-color: palegreen;
    flex: auto;
    width: 100px;
}
nav>.user{
    background-color: firebrick;
    flex: auto;
    width: 100px;
}
/*main 樣式設定*/
main{/*容器*/
    display: flex;                                              
    flex-wrap: wrap;       
    justify-content:center;                                   
    background-color: gold;
    align-items: center;
}
main>.item{/*項目*/
    background-color:plum;
    flex: none; 
    width: 270px;
    margin: 10px;
}

@media(max-width:1200px) {        
    main>.item{
        width: 45%;                         
    }
}
@media(max-width:500px) {
    main>.item{
        width: 90%; 
    }
}